/*
$navy: #81b3d2;
$navy-hover: #669ec0;
$navy-active: #5496bd;
$white: #ffffff;
$black: #000000;
$beige: #f2f2f2;
$dark: #333333;
$font-main: "PT Sans", "Verdana", sans-serif;
$font-title: "pt_sansbold", "Verdana", sans-serif;
$font-text: "PT Sans", "Verdana", sans-serif;
*/
$font-main: "Open Sans", "Arial", sans-serif;
$font-tall: "DIN_Condensed", "Arial Condenced", "Arial", sans-serif;
$white: #ffffff;
$blue: #053490;
$yellow: #fddb00;
$grey: #d9d9d9;
$black: #464545;
$red: #cb023b;
